body  {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    text-transform: uppercase;
}

/*Aquí empieza mi barra de navegación*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a4e1fe;
}

header img {
    padding-left: 20px;
}

.lista_items {
    display: flex;
    padding-right: 40px;
}

.item {
    list-style: none;
    padding-right: 25px;
}

.item a{
    text-decoration: none;
    color: rgb(77, 77, 77);
    font-weight: 700;
}

.item a:hover{
    color:rgb(240, 63, 98);
}

/*contenedor principal*/
.container_principal {
    text-align: center;
    background-color: #f8fae7;
    height: 300px;
}

.titulo {
    padding: 30px 0 20px 0;
    color: rgb(77, 77, 77);
}

.container_principal_texto {
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 50px;
}

.boton_principal {
    width: 150px;
    margin-bottom: 20px;
}

/*Sección sobre nosotros*/

.container_nosotros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

.nosotros_texto {
    margin: 0 60px 0 50px;
}

.nosotros_img img {
    margin-right: 30px;
}

/*Sección servicios*/

.container_servicios{
    background-color: #f8fae7;
    text-align: center;
    padding-bottom: 50px;
}

.container_servicios h2 {
    padding: 30px 0 30px 50px;
    font-weight: 700;
}

.container_servicios h4{
    color: #5B4526;
    margin-top: 10px;
    font-size: 20px;
}

/*Sección misión y visión*/

.mision {
    height: 200px;
    padding: 30px 30px 30px 50px;
    margin-bottom: 30px;
}

.vision {
    height: 200px;
    padding: 30px 80px 30px 50px;
    margin-bottom: 30px;
}

/*Sección formulario*/

section {
    display: flex;
    justify-content: center;
}

.titulo_formulario{
    padding-left: 50px;
}

form {
    width: 500px;
    display:flex;
    flex-direction: column;
    margin: 30px 0 30px 20px;
    padding: 20px;
    box-shadow: 1px 3px 5px rgb(151, 150, 150);
    background-color: #d0f0ea;
}

label {
    margin: 5px 0;
    font-weight: bold;
}

input,select, option {
    padding: 5px 0 5px 10px;
    color: #5B4526;
    outline: none;
}

button {
    background-color: #1dc5a6;
    width: 100px;
    height: 30px;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    box-shadow: 1px 3px 5px rgb(151, 150, 150);
}

textarea {
    color: #5B4526;
    opacity: 50%;
}

/*Sección de ubicación*/

.ubicacion_texto {
    padding-left: 50px;
}

/*footer*/
footer{
    text-align: center;
    margin-top: 30px;
}